@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html, body {
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
    overflow-x: hidden;
    overflow-y: visible;
}  

/* front page css */

#frontpagecontainer {
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

#frontpage {
    width: 100%;
    height: 100%;
    font-size: 20vh;
    background-color: #5E2BFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    position: relative;
    z-index: 2;
    text-shadow: 5px 5px #000000;
}

#frontpageimgdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.frontpageimg {
    height: 60vh;
    border-radius: 15px;
}

/* about section css */

#aboutpage {
    background-color: #FF0022;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#aboutpageimgdiv, #aboutpagetextdiv {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#aboutpageimgdiv, #aboutpagetextdiv {
    width: 50%;
}

#aboutpageimgdiv {
    overflow: hidden;
}

#aboutpageimg {
    height: 50vh;
    border-radius: 15px;
}

#aboutpagetextcontainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    line-height: normal;
    height: 80%;
    overflow-y: auto;
}

.aboutpagetext {
    width: 90%;
    text-align: center;
    margin-top: 20px;
}

.aboutpagetext:first-child {
    margin-top: 0;
}

.aboutpagetext:last-child {
    margin-bottom: 20px;
}

#aboutpagetext1 {
    font-size: 150%;
}

#aboutpagetext2 {
    font-family: 'Lato', sans-serif;
    font-size: 120%;
    font-weight: 900;
}

#aboutpagetext3 {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    font-weight: 700;
}

#wavegif {
    width: 5vh;
}

/* skill section css */

#skillpage {
    background-color: #69e1ff;
}

#skillpagetitle {
    width: 100%;
    font-size: 400%;
    color: white;
    text-shadow: 3px 3px #000000;
    text-align: center;
    padding-top: 20px;
}

#skillpagecontainer {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#languageskilldiv, #technologyskilldiv {
    width: 50%;
}

#languageskilldiv, #technologyskilldev {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#webtechtitle {
    margin-bottom: 5px;
    font-size: 150%;
} 

#technologyskillcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#technologyskilllist {
    margin: 0;
    padding: 0;
    font-size: 80%;
}

#languageskillcontainer {
    width: 80%;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

@keyframes load{
    from {
      width: 0%
    }
}

@-webkit-keyframes load{
    from {
      width: 0%
    }
}

@-moz-keyframes load{
    from {
      width: 0%
    }
}

@-o-keyframes load{
    from {
      width: 0%
    }
}

.bar {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    background-color: #EEE;
    border: 3px solid black;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 2vh;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.bar::before {
    content:  attr(data-skill);
    background-color: #f2c2fa;
    display: inline-block;
    padding: 1vh 0 1vh 2vh;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}
  
.bar.yellow::before {
    background-color: #ffe699;
}

.bar.blue::before {
    background-color: #b7e2f8;
}

.bar.green::before {
    background-color: #b8ffde;
}
  
.bar.python::before {
    width: calc(80% - 10px);
}

.bar.javascript::before {
    width: calc(70% - 10px);
}

.bar.processing::before {
    width: calc(70% - 10px);
}

.bar.r::before {
    width: calc(30% - 10px);
}

#technologyskilllist {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    list-style: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 150%;
}

ul li:before {
	content: "❇︎  ";
}

#workexperience {
    background: rgb(255, 244, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#workexperiencetitle {
    width: 100%;
    font-size: 400%;
    color: white;
    text-shadow: 3px 3px #000000;
    text-align: center;
    padding-top: 20px;
}

#workexperiencecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    padding: 12vh 100px;
    padding-top: 10px;
    font-family: "Source Sans Pro", arial, sans-serif;
    font-weight: 300;
    color: #333;
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;
}
  
.timeline {
    width: 100%;
    max-width: 800px;
    background: #fff;
    padding: 100px 50px;
    position: relative;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0px;
    left: calc(30% + 30px);
    bottom: 0px;
    width: 4px;
    background: #ddd;
}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}
  
.entry {
    clear: both;
    text-align: left;
    position: relative;
}

.entry .title {
    margin-bottom: 0.5em;
    float: left;
    width: 30%;
    padding-right: 15px;
    text-align: right;
    position: relative;
}

.entry .title:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 4px solid salmon;
    background-color: #fff;
    border-radius: 100%;
    top: 15%;
    right: -23px;
    z-index: 99;
}

.entry .title h3 {
    margin: 0;
    font-size: 100%;
}

.entry .title p {
    margin: 0;
    font-size: 80%;
    color: #aaa;
    margin-top: 10px;
}

.entry .body {
    margin: 0 0 3em;
    float: right;
    width: 65%;
    padding-left: 15px;
}

.entry .body p {
    line-height: 1.4em;
}

.entry .body p:first-child {
    margin-top: 0;
    font-weight: 600;
    margin-bottom: -10px;
}

.entry .body ul {
    color: #aaa;
    padding-left: 0;
    list-style-type: none;
}

.entry .body ul li:before {
    content: "";
    margin-right: 0;
}

#education {
    background-color: #128CFC;
}

.educationlistcontainer {
    margin: auto;
    display: grid;
    place-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
  
.items {
    max-width: 300px;
    width: 40%;
    background: #fffffe;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-top: 10px solid #0B5AA2;
}
  
.items-head p {
    padding: 5px 20px;
    margin: 10px;
    color: #0B5AA2;
    font-weight: bold;
    font-size: 100%;
}
  
.items-head hr {
    width: 20%;
    margin: 0px 30px;
    border: 1px solid #0B5AA2;
}
  
.items-body {
    padding-left: 10px;
    margin-left: 10px;
    display: grid;
    grid-gap: 10px;
}
  
.items-body-content {
    padding: 10px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    font-size: 13px;
    grid-gap: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}
 
.items-body-content i {
    align-self: center;
    font-size: 15px;
    color: #0B5AA2;
    font-weight: bold;
    animation: icon 1.5s infinite forwards;
}
  
@keyframes icon {
    0%, 100% {
      transform: translate(0px);
    }
    50% {
      transform: translate(3px);
    }
}

#educationtitle {
    width: 100%;
    font-size: 400%;
    color: white;
    text-shadow: 3px 3px #000000;
    text-align: center;
    padding-top: 20px;
}

.educationsubtitle {
    width: 100%;
    font-size: 200%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#project {
    background-color: #ff35ee;
}

#projecttitle {
    width: 100%;
    font-size: 400%;
    color: white;
    text-shadow: 3px 3px #000000;
    text-align: center;
    padding-top: 20px;
    margin-bottom: -30px;
    padding-bottom: 0;
}

.projectimg {
    transition: 0.5s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 500px;
    margin-top: 20px;
}

.projectimg img {
    width: 100%;
    border-radius: 5px;
}

.popup h2 {
    font-size: 200%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 10px;
}

.projectimg img:hover {
    box-shadow: 0 0 10px 3px rgba(0,0,0,.8);
}

#projectcontainer {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Popup box BEGIN */
.hover_bkgr_fricc, .hover_bkgr_fricc2 {
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper, .hover_bkgr_fricc2 .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div, .hover_bkgr_fricc2 > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton, .popupCloseButton2 {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover, .popupCloseButton2:hover {
    background-color: #ccc;
}
.trigger_popup_fricc, .trigger_popup_fricc2 {
    cursor: pointer;
}

.popup p {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.popup a {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.popup img {
    width: 50%;
    max-width: 300px;
    border-radius: 15px;
}

/* phone layout css */

@media (max-width: 800px) {

    #frontpage {
        font-size: 6vh;
    }

    .frontpageimg {
        height: 15vh;
    }

    #aboutpage {
        display: block;
    }

    #aboutpagetextcontainer {
        height: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .aboutpagetext {
        margin-left: auto;
        margin-right: auto;
    }

    .aboutpagetext:first-child {
        margin-top: 20px;
    }

    #aboutpageimgdiv, #aboutpagetextdiv {
        width: 100%;
    }

    #aboutpageimgdiv {
        text-align: center;        
        height: 50vh;
        margin-bottom: 10px;
    }

    #aboutpagetextdiv {
        height: 100%;
        margin-top: 10px;
    }

    #aboutpageimg {
        margin-top: 40px;
        height: 30vh;
    }

    #aboutpagetext1 {
        font-size: 180%;
    }
    
    #aboutpagetext2 {
        font-size: 120%;
    }
    
    #aboutpagetext3 {
        font-size: 100%;
    }

    #skillpage {
        display: block;
    }

    #skillpagecontainer {
        height: 100%;
        display: block;
    }

    #skillpagetitle {
        margin-bottom: 30px;
    }

    #technologyskilldiv, #languageskilldiv {
        margin-left: auto;
        margin-right: auto;
    }

    #languageskilldiv, #technologyskilldiv {
        width: 100%;
    }

    #technologyskilldiv {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .skilltitle {
        font-size: 150%;
    }

    #skillpagetitle {
        font-size: 300%;
        margin-bottom: 0;
    }

    #workexperiencetitle {
        font-size: 300%;
        margin-bottom: 10px;
        margin: 0;
    }

    #workexperiencecontainer {
        padding: 25px 25px;
        margin: 0;
    }

    .entry .title h3 {
        font-size: 60%;
    }
    
    .entry .title p {
        font-size: 60%;
    }

    .entry .body {
        font-size: 60%;
    }   
    
    .entry .title h3 {
        margin-left: -30px;
    }

    .entry .title p {
        margin-left: -30px;
    }

    .entry .body ul {
        margin-top: 10px;
    }

    #educationtitle {
        font-size: 300%;
    }

    .items-head p {
        padding: 5px 0px;
        margin: 10px;
        color: #0B5AA2;
        font-weight: bold;
        font-size: 80%;
    }
      
    .items-head hr {
        width: 20%;
        margin: 0px 10px;
        border: 1px solid #0B5AA2;
    }
      
    .items-body {
        padding-left: 0;
        margin-left: 0;
        display: grid;
        grid-gap: 10px;
    }

    #projecttitle {
        font-size: 300%;
    }
}