@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html, body {
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
    overflow-x: hidden;
    overflow-y: visible;
}  

/* front page css */

#frontpagecontainer {
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

#frontpage {
    width: 100%;
    height: 100%;
    font-size: 20vh;
    background-color: #5E2BFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    position: relative;
    z-index: 2;
    text-shadow: 5px 5px #000000;
}

#frontpageimgdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.frontpageimg {
    height: 60vh;
    border-radius: 15px;
}

/* about section css */

#aboutpage {
    background-color: #FF0022;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#aboutpageimgdiv, #aboutpagetextdiv {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#aboutpageimgdiv, #aboutpagetextdiv {
    width: 50%;
}

#aboutpageimgdiv {
    overflow: hidden;
}

#aboutpageimg {
    height: 50vh;
    border-radius: 15px;
}

#aboutpagetextcontainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    line-height: normal;
    height: 80%;
    overflow-y: auto;
}

.aboutpagetext {
    width: 90%;
    text-align: center;
    margin-top: 20px;
}

.aboutpagetext:first-child {
    margin-top: 0;
}

.aboutpagetext:last-child {
    margin-bottom: 20px;
}

#aboutpagetext1 {
    font-size: 7vh;
}

#aboutpagetext2 {
    font-family: 'Lato', sans-serif;
    font-size: 5vh;
    font-weight: 900;
}

#aboutpagetext3 {
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    font-weight: 700;
}

#wavegif {
    width: 5vh;
}

/* skill section css */

#skillpage {
    background-color: #69e1ff;
}

#skillpagetitle {
    width: 100%;
    height: 10vh;
    font-size: 9vh;
    color: white;
    text-shadow: 3px 3px #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#skillpagecontainer {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#languageskilldiv, #technologyskilldiv {
    width: 50%;
}

#languageskilldiv, #technologyskilldev {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#technologyskillcontainer {
    height: 80%;
}

.skilltitle {
    width: 100%;
    text-align: center;
    font-size: 5vh;
}

#webtechtitle {
    margin-bottom: 5px;
}

#languageskillcontainer {
    width: 80%;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

@keyframes load{
    from {
      width: 0%
    }
}

@-webkit-keyframes load{
    from {
      width: 0%
    }
}

@-moz-keyframes load{
    from {
      width: 0%
    }
}

@-o-keyframes load{
    from {
      width: 0%
    }
}

.bar {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    background-color: #EEE;
    border: 3px solid black;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 2vh;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.bar::before {
    content:  attr(data-skill);
    background-color: #f2c2fa;
    display: inline-block;
    padding: 1vh 0 1vh 2vh;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}
  
.bar.yellow::before {
    background-color: #ffe699;
}

.bar.blue::before {
    background-color: #b7e2f8;
}

.bar.green::before {
    background-color: #b8ffde;
}
  
.bar.python::before {
    width: calc(80% - 10px);
}

.bar.javascript::before {
    width: calc(70% - 10px);
}

.bar.processing::before {
    width: calc(70% - 10px);
}

.bar.r::before {
    width: calc(30% - 10px);
}

#technologyskilllist {
    width: 50%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    list-style: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 3vw;
}

ul li:before {
	content: "❇︎  ";
}

/* phone layout css */

@media (max-width: 800px) {

    #frontpage {
        font-size: 5vh;
    }

    .frontpageimg {
        height: 15vh;
    }

    #aboutpage {
        display: block;
    }

    #aboutpagetextcontainer {
        height: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .aboutpagetext {
        margin-left: auto;
        margin-right: auto;
    }

    .aboutpagetext:first-child {
        margin-top: 20px;
    }

    #aboutpageimgdiv, #aboutpagetextdiv {
        width: 100%;
    }

    #aboutpageimgdiv {
        text-align: center;        
        height: 50vh;
        margin-bottom: 10px;
    }

    #aboutpagetextdiv {
        height: 100%;
        margin-top: 10px;
    }

    #aboutpageimg {
        margin-top: 40px;
        height: 30vh;
    }

    #aboutpagetext1 {
        font-size: 5vw;
    }
    
    #aboutpagetext2 {
        font-size: 3vw;
    }
    
    #aboutpagetext3 {
        font-size: 3vw;
    }

    #skillpage {
        display: block;
    }

    #skillpagecontainer {
        height: 100%;
        display: block;
    }

    #technologyskilldiv, #languageskilldiv {
        margin-left: auto;
        margin-right: auto;
    }

    #languageskilldiv, #technologyskilldiv {
        width: 100%;
    }

    #technologyskilllist {
        width: 40%;
        font-size: 4vw;
    }

    #technologyskilldiv {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .skilltitle {
        font-size: 5vw;
    }

    #skillpagetitle {
        font-size: 7vw;
        height: 8vw;
    }
}