:root {
    --color-bg: #000000;
    --color-text-main: #000000;
    --color-primary: #FFFF00;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  }
  
  /* Basic page style resets */
  * {
    box-sizing: border-box;
    margin: 0;
  }
  [hidden] {
    display: none !important;
  }
  
  /* Import fonts */
  @font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
      format("opentype");
  }
  
  body {
    font-family: HK Grotesk;
    background-color: var(--color-bg);
    overflow: hidden;
  }
  
  #canvas {
    background-color: black;
    margin: 0;
  }
  
  #container {
    position: relative;
     display: flex;
    justify-content: center;
  }
  
  #container canvas {
    position: absolute;
  }
  
  #overlay {
    position:absolute;
    height: 100px;
    font-size: 5vh;
    font-weight: 900;
  }
  
  