/* Our default values set as CSS variables */
:root {
    --color-bg: #C0F8D7;
    --color-text-main: #000000;
    --color-primary: #FFFF00;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  }
  
  /* Basic page style resets */
  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }
  
  /* Import fonts */
  @font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
      format("opentype");
  }
  
  body {
    font-family: HK Grotesk;
    background-color: var(--color-bg);
  }
  
  
  h1, h2, h3, #snakegamedes, #perlinnoisedes, #rpsdes, #pizzades {
    font-weight: 900;
    text-align: center;
    background: white;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    font-size: 8vh;
  }
  
  h2,h3 {
    margin-bottom: 20px;
  }
  
  h2, h3, #snakegamedes, #perlinnoisedes, #rpsdes, #pizzades {
    margin-top: 20px;
    font-size: 5vh;
    font-style: italic;
    width: 90%;
  }
  
  h3 {
    margin-top: 30px;
    font-style: normal;
    padding: 10px;
  }
  
  #snakegamedes, #perlinnoisedes, #rpsdes, #pizzades{
    border: 5px solid #000000;
  }
  
  #snakegamedes, #perlinnoisedes, #perlinnoise, #snakegame, #rps, #rpsdes, #pizzades, #pizza {
    width: 50%;
    margin-top: -5px;
    padding:5px;
    padding-bottom:5px;
  }
  
  
  #perlinnoisecontainer, #snakegamecontainer, #rpscontainer, #pizzacontainer {
    text-align: center;
    margin-bottom: -10px;
    border-radius: 5px;
    margin-left: auto;
  }
  
  a {
    outline: none;
    text-decoration: none;
    color: black;
  }
  
  
  .box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box::after {
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }
  
  .box:hover::after {
      opacity: 1;
  }
  