/* CSS files add styling rules to your content */

body {
  background-color: #e3ecf1;
  font-family: helvetica, arial, sans-serif;
}

h1 {
   margin-left: 120px;
  text-align: center;
  font-size: 50px;
  color: #000000;
}

#bouncyballvideo, #GeneticAlgoIMG, #ParticleShowerimg{
  margin-left: 9.8%;
  margin-right: 9.8%;
  width: 30%;
  height: 300px;
}

#BouncyBallbutton, #ParticleShowerbutton{
  width: 30%;
  font-size: 20px;
  margin-left: 9.8%;
  font-style: Bold;
  cursor: pointer;
  background-color: #ffffff;
}

#GeneticAlgoButton {
  width: 30%;
  font-size: 20px;
  float: right;
  margin-right: 10.4%;
  font-style: Bold;
  cursor: pointer;
  background-color: #ffffff;
}

#homebutton {
  font-size: 20px;
  float: right;
  font-style: Bold;
  cursor: pointer;
  background-color: #ffffff;
}