/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #e3ecf1;
}

.bestMatch {
  font-size: 50px;
  margin-bottom: 20px;
}
.generations, .bestwords, .mutationrate, .time, .targetword {
  font-size: 20px;
  font-style: bold;
}

#homebutton {
  font-size: 20px;
  float: right;
  font-style: Bold;
  cursor: pointer;
  background-color: #ffffff;
}