/* CSS files add styling rules to your content */

body {
  margin: 36px;
  background-color: #e3ecf1;
  font-family: helvetica, arial, sans-serif;
}

h1 {
   font-size: 40px;
  font-style: bold;
  color: #000000;
}

#homebutton {
  font-size: 20px;
  float: right;
  font-style: Bold;
  cursor: pointer;
  background-color: #ffffff;
}